@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Work+Sans:wght@400;700&display=swap');

* {font-family: 'Raleway', 'Work Sans', Helvetica;}


.AppPrincipal {
  background-color: #fbb306;
}

.productos {
  background-color: rgba(0, 0, 0, .2);
  text-align: center;
  padding: 2vw;
}